<div class="hero">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid img" src="https://o.remove.bg/downloads/1db6847e-e682-4b9e-8316-d3217dae91ae/motivate1-removebg-preview.png" alt="">
    </div>
    <div class="col-md-6 mb-5">
      <h1>Welcome <br> to quote <br> hub.</h1>
      <q>In order to get something you never had, you have to do something you never did</q><br>
      <cite>By Denzel Washington</cite><br><br>
      <button class="btn">Read more</button><br><br>
      <img src="https://img.icons8.com/ios-glyphs/50/000000/facebook-new.png"/>
      <img src="https://img.icons8.com/ios-glyphs/50/000000/instagram-new.png"/>
      <img src="https://img.icons8.com/ios-glyphs/50/000000/twitter.png"/>
      <img src="https://img.icons8.com/ios-filled/50/000000/telegram-app.png"/>
      <img src="https://img.icons8.com/ios-glyphs/50/000000/youtube-play.png"/>
    </div>
  </div>
</div>
</div>
