@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Jura:wght@700&family=Montserrat:wght@200;400;700&family=Moon+Dance&family=Poppins:wght@200;600;700&display=swap');

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    height: 100vh;
}
.hero > div >  img{
    flex: 0.7;
    max-width: 900px;
    object-fit: contain;
}
.hero > div > q {
    flex: 0.3;
    font-family: 'Carattere', cursive;
    font-size: 30px;
}
.hero > div > button{
    background: #C4362E;
    color: white;
    border: none;
    height: 45px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.hero > div > button:hover{
    background: white;
    color: #C4362E;
    border: 2px solid #C4362E;
    transition: 1s ease-in-out
}
