.nav-item a{
    text-transform: uppercase;
    color: white;
}

.navbar{
    margin-bottom: 30px;
}

.navbar-brand{
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    background: #193F43;
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: 30px;
}
span{
    color: crimson;
}
.navbar-toggler-icon{
    color: crimson;
}