.hero{
    background: #193F43;
    color: white;
    height: 50vh;
    padding-top: 30px;
    padding-left: 30px;
}
.hero h2{
    font-weight: bolder;
    font-size: 40px;
}
.btn{
    background: #F27730;
    color: white;
    border-radius: 10px;
    height: 45px;
    font-weight: bolder;
}
.button{
    background: #D4E8EA;
    height: 38px;
    width: 100px;
    font-weight: bolder;
    color: black;
    border: none;
}
.btn1{
    background: transparent;
    margin: 10px;
    height: 38px;
    border: 1px solid black;
    border-radius: 3px;
}
.btn1:hover{
    background: black;
    color: white;
    transition: 2s;
}