.hero{
    background: #193F43;
    color: white;
    height: 50vh;
    padding-top: 30px;
    padding-left: 30px;
}
.hero h2{
    font-weight: bolder;
    font-size: 40px;
}
.btn{
    background: #F27730;
    color: white;
    border-radius: 10px;
    height: 45px;
    font-weight: bolder;
}
.img-fluid{
    border-radius: 50px;
}
h4{
    font-weight: bolder;
}

