.hero{
    background: #D4E8EA;
    height: 50vh;
    padding: 30px;
}
.btn{
    background: black;
    color: white;
}
.button{
    background: #D4E8EA;
    height: 38px;
    width: 100px;
    font-weight: bolder;
    color: black;
    border: none;
}
.btn:hover{
    background: transparent;
    color: black;
    transition: 2s;
}
.btn1{
    background: transparent;
    margin: 10px;
    height: 38px;
    border: 1px solid black;
    border-radius: 3px;
}
.btn1:hover{
    background: black;
    color: white;
    transition: 2s;
}