<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 hero">
            <h2>Bring joy into <br> your life with <br> Great quotes.</h2>
            <p>Do you look forward to getting some of the best quotes and most importantly creating your own? Look no further!</p>
            <p>We give you the opportunity to explore your <br> creativity without limits.</p>
            <button class="btn text-uppercase" style="margin-right: 20px;">Get a quote</button>
            <button class="btn text-uppercase">Create a quote</button>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
          <h4 class="text-white text-center mt-3">Inspirational</h4>
        </div>
    </div>
</div>
