.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.container-fluid{
    background: #EEEEEE;
}

@media (max-width: 768px) {
    .row{
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .row{
        flex-direction: column;
    }
 }
 @media (max-width: 480px) {
    .row{
        flex-direction: column;
    }
 }