<app-header></app-header>
  <app-form (quoteAdded)="onAddQuote($event)"></app-form>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <app-quote 
      (quoteRemoved)="removedQuote(singleQuote.id)"
      *ngFor="let singleQuote of quotes"
      [quote]="singleQuote"></app-quote>
    </div>
    <div class="col-md-5">
      <app-quote-details 
      *ngFor="let singleQuote of quotes"
      [quote]="singleQuote"></app-quote-details><br><br><br>
    </div>
  </div>
</div>
<app-footer></app-footer>