.details{
    width: 100%;
    text-align: center;
    background: #EEEEEE;
    padding: 30px;
    margin-top: 140px;
    /* border-radius: 20px; */
    box-shadow: 2px 2px 4px 2px gray;
    color: black;
}
.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upvotes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downvotes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .details{
        width: 700px;
    }
}
@media (max-width: 500px) {
    .details{
        width: 438px;
    }
}
