@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Jura:wght@700&family=Montserrat:wght@200;400;700&family=Moon+Dance&family=Poppins:wght@200;600;700&display=swap');

.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.parent img{
    cursor: pointer;
}
.child span{
    margin-right: 30px;
}
.quote{
    margin-top: 100px;
    background: #EEEEEE;
    width: 90%;
    color: black;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 2px 2px 4px 2px gray;
}
.quote > q{
    font-family: 'Carattere', cursive;
    font-size: 28px;
    color: gray;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
q{
    font-size: 22px;
}

/* media screen */
@media (max-width: 768px) {
   .quote{
       width: 700px;
   }
}
@media (max-width: 500px) {
    .quote{
        width: 438px;
    }
 }
 @media (max-width: 480px) {
    .quote{
        width: 400px;
    }
 }