@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Jura:wght@700&family=Montserrat:wght@200;400;700&family=Moon+Dance&family=Poppins:wght@200;600;700&display=swap');

.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.parent img{
    cursor: pointer;
}
.child span{
    margin-right: 30px;
}
.quote{
    margin-top: 100px;
    background: #EEEEEE;
    width: 90%;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 2px gray;
    padding: 30px;
    border-radius: 20px 80px;
}
.quote > q{
    font-family: 'Carattere', cursive;
    font-size: 25px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
q{
    font-size: 22px;
}