<q>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti rem placeat eligendi accusantium? Tempore veritatis libero modi eaque facere ducimus?</q>
<div class="parent">
<div>
  <img src="https://img.icons8.com/material-rounded/48/000000/thumb-up.png" style="height: 24px;"/>
  <img src="https://img.icons8.com/material-rounded/50/000000/thumbs-down.png" style="height: 24px;"/>
</div>
<div>
  <img src="https://img.icons8.com/fluency-systems-filled/64/000000/filled-trash.png" style="height: 30px;"/>
</div>
</div>
